/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

body{
  font-family: 'Poppins', sans-serif;

}

  

/* container section start */
.container-1{
  display:flex;
  justify-content: center;
}



 .player{
  display:flex;
  border-radius:20px;

  
   
 
  border:1px solid black;
  background-color:black;
  
 }
 .title{
  color:white;
  
  width:300px;

 }
 .title-button{
  padding:35px;
  

 }

 .title-button a{
  color:white;
  text-decoration:none;
  background-color: orangered;
  padding:10px;
 }
 .section-1-p{
  color:white;
  width:300px;
  margin-bottom:30px;
 }
 .title-anchor{
  width:80%;
  padding:25px;
  
 }


 
 .title-anchor p{
  color:white;
  margin:0
 }
 



  


/* section -2 */
.navigation{
  margin-top:50px;
  
  background-color:black;
  
  height:250px;
  border-radius:10px;
  width:300px;
  margin-left:70px;

  
  
}
ul li{
  list-style: none;
  margin: 28px;
  background-color: white;
  width: 200px;
  margin-left: 5px;
  padding:10px
  
}
ul li a{
  
  text-decoration:none;
  
  
  
}
.container{
  display:flex;
  justify-content: center;
}
.container-3{
  display:flex
}
.link{
  background-color: black;
  height: 250px;
  margin-top: 50px;
  width:300px;
 
}

.link .upcoming-match a{
  background-color:white;
  text-decoration:none;
  margin:10px 50px;
  

 
}
.all-groups a{
  background-color: white;
  text-decoration:none;
  margin:10px 50px;
}
.blog a{
  background-color:orange;
  text-decoration:none;
  margin:10px 50px;
}




.container-3{
  display:flex
}

 .blogs{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
  margin-top:50px;
  margin-left:80px;
  
  
}


.blog-1{
  border:1px solid lightgray;
  width:250px;
  height:325px;
  padding:10px
}
.blog-4{
  height:200px
}
.image img{
  width:100%
}
span{
  display:flex;
  justify-content: space-evenly;
}
.vs{
  padding:10px
}

/* footer */
.footer{
  background-color: black;
  
}
.anchor{
  background-color: none;
  ;
  color :white
}
.c-g{
  display:flex;
  justify-content: center;
  
  
}
h2{
  text-align:center;
  color:white;
  padding-top:50px;
  font-size:37px
}
.c-g h4{
  margin:10px;
  color:white

}
hr{
  width:745px
}

/* responsive use media query */
@media screen and (min-width:1000px) {
  .blogs{
    margin-left:10px
  }
}
@media  screen and (max-width:567px) {
  .player{
    display:grid;
    flex-direction: column;

     }
     .container-3{
      display:grid;
      flex-direction: column;
      
     }
     .blogs{
      display:flex;
      flex-direction: column;
    justify-content:center;
      text-align: center;
     }
     .c-g{
      flex-direction:column;
      align-items:center;
      }
      footer{
        width:100%;
        height:100%
      }
      .image{
        width:110px;
        margin-left:70px
  
      }
      .image-3{
        width:250px;
        margin-left:-1px
      }
      .blog-1{
        height:300px
      }
      
     
     
    }

    /* ------
    medium screen
    --------- */
    @media  screen and (min-width:568px) and (max-width:900px) {
     
    
      .player{
        display:flex;
        flex-direction:row
      }
      .con-4{
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      .blogs{
        display:grid;
        grid-template-columns: repeat(2,1fr)
      }
    

    }

     